//- This file gets basic template from base.pug by "extends" and rewrite//
extends ./../layout/_base


//- block content is from _base.pug and will be replaced by the block content in this file
block content

